// Глобальные настройки //
@use 'utils/fonts' as *;
@use 'utils/variables' as *;
@use 'base';
@use 'utils/texts' as *;
@use 'utils/utils' as *;
@use 'utils/mixins' as *;

// Компоненты //
@use 'components/buttons';
@use 'components/chef-card';
@use 'components/corousel-button';
@use 'components/format-card';
@use 'components/input';
@use 'components/links';

@use 'layouts/advantages-section';
@use 'layouts/chefs-section';
@use 'layouts/contact-section';
@use 'layouts/footer';
@use 'layouts/form-terms';
@use 'layouts/formats-section';
@use 'layouts/header';
@use 'layouts/hero-section';
@use 'layouts/modal';
@use 'layouts/section';
@use 'layouts/traditions-section';
