// Глобальные настройки //
@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/texts';
@import './utils/utils';
@import './utils/mixins';

// Компоненты //
@import './components/buttons';
@import './components/chef-card';
@import './components/corousel-button';
@import './components/format-card';
@import './components/input';
@import './components/links';

@import './layouts/advantages-section';
@import './layouts/chefs-section';
@import './layouts/contact-section';
@import './layouts/footer';
@import './layouts/form-terms';
@import './layouts/formats-section';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/modal';
@import './layouts/section';
@import './layouts/traditions-section';
