:root {
  --color-primary-dark: #31261a;
  --color-secondary-dark: #a18268;
  --color-brand-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-normal: #cfcfbc;
}

$br-mobile: 480px;
$br-tablet: 768px;
$br-desktop: 1280px;
