@use '../utils/globals' as *;

.advantages-section {
  padding: 16px 0;

  @media screen and (min-width: $br-desktop) {
    background-color: var(--color-brand-light);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 40px;
    border-radius: 24px;
    background-color: var(--color-brand-normal);

    @media screen and (min-width: $br-desktop) {
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
      background-color: transparent;
      padding: 0;
    }
  }

  &__item {
    font-size: 14px;
    font-weight: 300;

    @media screen and (min-width: $br-desktop) {
      color: var(--color-primary-light);
      font-size: 24px;
    }
  }
}
