@use '../utils/globals' as *;

.footer {
  padding: 32px 0;
  position: relative;
  background-image: url('../images/footer-backgraund.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before,
  &::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
  }

  &::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url('../images/decor-bread-small.png');
  }

  &::after {
    width: 380px;
    height: 190px;
    right: 0;
    background-image: url('../images/decor-bread-large.png');
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $br-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;

    @media screen and (min-width: $br-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__address-info,
  &__address-list {
    flex-grow: 1;
  }

  &__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;

    &:hover {
      fill: var(--color-brand-light);
    }
  }

  &__address-icon {
    fill: var(--color-primary-light);

    &:hover {
      fill: var(--color-brand-light);
    }
  }

  &__address-copyright {
    font-size: 14px;
    color: #a18268;
  }
}
