@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;

  @media screen and (min-width: $br-desktop) {
    padding-top: 32px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $br-desktop) {
      display: flex;
      gap: 64px;
      flex-grow: 1;
      justify-content: center;
    }
  }
  &__button {
    display: none;

    @media screen and (min-width: $br-desktop) {
      display: block;
    }
  }

  &__burger {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    // прячем svg-иконку//
    &-icon {
      display: none;
    }

    @media screen and (min-width: $br-desktop) {
      display: none;
    }

    // линии бургера
    &-line {
      width: 100%;
      height: 2px;
      border-radius: 100px;
      background-color: var(--color-primary-light);
      transition: transform 200ms ease, opacity 200ms ease;
    }

    // анимация бургер → крестик//закрытие меню
    &.is-open {
      & .header__burger-line:nth-child(2) {
        opacity: 0;
      }

      & .header__burger-line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      & .header__burger-line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}
