.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      103deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url('../images/hero-section-backgraund.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &__title {
    margin-bottom: 0;
    color: var(--color-primary-light);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 128px;
    font-weight: 900;
  }
}
