@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-brand-normal);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;

  /* состояние: меню открыто */
  &.is-open {
    transform: translateX(0);
  }

  /* вертикальная пунктирная линия по центру*/
  &::before {
    content: '';
    position: absolute;
    top: 24px;
    bottom: 24px;
    left: 50%;
    border-left: 1px dashed #d3cbb8;
  }

  /* верхняя часть: логотип + крестик */
  &__top {
    position: relative;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* кнопка закрытия */
  &__btn-close {
    position: absolute;
    top: 16px;
    right: 24px;
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
  }

  &__nav {
    margin-top: 24px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__link {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-primary-dark);

    &:hover,
    &:focus {
      font-weight: 600;
      color: var(--color-brand-light);
    }
  }

  &__image-wrap {
    position: absolute;
    left: 50%;
    bottom: -30px;
    width: 220px;
    height: 220px;
    transform: translateX(0%) rotate(-15deg);
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}
